.fz-16 {
  font-size: 16;
}
.fz-20 {
  font-size: 20;
}
.fz-24 {
  font-size: 24;
}
.bolt {
  font-weight: bold;
}
.thin {
  font-weight: 300;
}
.italic {
  font-style: italic;
}
.text-color-primary {
  color:$primary
}
.text-color-warning {
  color:$warning
}
.text-color-dark {
  color:$dark
}
.text-color-success {
  color:$success
}
.text-color-danger {
  color:$danger
}
