.wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  width:100%;
  padding: 30px;
  .header {
    position: relative;
    text-align: center;
    justify-content: center;
  }

}